*.BIN
*.bin
*.ZXE
*.MAP
/src/Boot
*.ELF
*.elf
*.sys
*.SYS
/src/EFI
/build/limine-binary
/build/limine-binary.tar.gz
/build/edk2-ovmf-bins
/build/edk2-ovmf-bins.tar.gz
*.iso
*.raw
*.hdd
*.o
*.d
/zealbooter/compile_commands.json
/zealbooter/.cache
/zealbooter/src/limine.h
/zealbooter/bin
/zealbooter/obj
