*.ZC linguist-language=HolyC encoding=cp437 working-tree-encoding=cp437
*.HH linguist-language=HolyC encoding=cp437 working-tree-encoding=cp437
*.PRJ linguist-language=HolyC encoding=cp437 working-tree-encoding=cp437
*.IN linguist-language=HolyC encoding=cp437 working-tree-encoding=cp437
